.sidebar-button {
    border-radius: 10px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    gap: 2px;
}

.sidebar-button:hover {
    background-color: var(--sidebar-hover-color);
    cursor: pointer;
    transition: 0.2s;
}

.sidebar-button:active {
    background-color: var(--sidebar-active-color);
    cursor: pointer;
    transition: 0s;
}

/* -------------------------------------------- */

.sidebar-button-icon, .task-counter {
    aspect-ratio: 1 / 1;
    height: 100%;
    width: auto;
    flex: 1;

    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------------- */

.sidebar-button-text {
    height: 100%;
    flex: 8;

    font-size: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
}