#sidebar {
    flex: 1;

    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: var(--sidebar-background-color);
    border-right: 2px solid var(--sidebar-right-border-color);
}