.project-button {
    border-radius: 10px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    gap: 2px;
}

.project-button:hover {
    background-color: rgb(203, 203, 203);
    cursor: pointer;
    transition: 0.2s;
}

.project-button:active {
    background-color: rgb(163, 163, 163);
    cursor: pointer;
    transition: 0s;
}

/* -------------------------------------------- */

.project-button-options, .project-counter {
    aspect-ratio: 1 / 1;
    height: 100%;
    width: auto;
    flex: 1;

    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------------- */

.project-title {
    height: 100%;
    flex: 8;

    font-size: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
}