.task-box {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;

    border: 1px solid gray;
    background-color: rgb(198, 198, 198);
    padding: 5px;
    border-radius: 10px;
}

.task-title-box {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    gap: 10px;
}

.task-title-box > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-description-box {
    flex: 1;
}

.task-checkbox {
    aspect-ratio: 1 / 1;
    height: 20px;
    width: auto;
}

.task-checkbox:hover {
    cursor: pointer;
}

.title-box {
    flex: 1;

    padding-left: 5px;
    font-size: 24px;
    font-weight: bold;
}

.priority-box {
    aspect-ratio: 3 / 1;
    width: auto;
    height: 100%;
    border: 1px solid black;

    justify-content: center;
}

.priority-box:hover {
    cursor: pointer;
    background-color: rgb(81, 81, 81);
    color: white;
    transition: 0.2s;
}

.priority-box:active {
    background-color: black;
    color: white;
    transition: 0s;
}

.date-box {
    aspect-ratio: 3 / 1;
    width: auto;
    height: 100%;

    margin-right: 20px;
    text-align: center;
}

.options-box {
    aspect-ratio: 1 / 1;
    height: 20px;
    width: auto;
    
    justify-content: center;
}

.options-box:hover {
    cursor: pointer;
    background-color: rgb(81, 81, 81);
    color: white;
    transition: 0.2s;
}

.options-box:active {
    background-color: black;
    color: white;
    transition: 0s;
}