.theme-button {
    aspect-ratio: 2 / 1;
    width: 50px;
    height: auto;

    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
}

.theme-button:hover {
    cursor: pointer;
    background-color: rgb(83, 188, 223);
    transition: 0.2s;
}

.theme-button:active {
    cursor: pointer;
    background-color: rgb(90, 157, 179);
    transition: 0s;
}